@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');
h1 {
    font-size: 50px;
    line-height:40px;
}
p{
    font-size: 20px;
    line-height: 20px;
}
body   {
    font-family: 'Poppins';
    line-height: 1.4;
    background-color:maroon;
    width: 500px;
    margin: auto;
    color: yellow;

}
form{
    text-align: left;
    background:black;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
    width: 500px;
    margin:auto; 
    color:white;

}
.submit-button {
    width:200px;
    padding: 16px 32px;
    background: yellow;
    color:bold black;
    border-radius: 10px;
    font-size: large
    border: 6px solid black;
}
input[type=text]{
    width: 80%;
    padding: 15px 22px;
    box-sizing: border-box;
    background-color:gray;
    color: white;

}
select {
    width: 40%;
    padding: 15px 18px;
    border: none;
    color:white;
   background-color:gray;
}
input[type=email]{
    width: 80%;l
    padding: 15px 22px;
    box-sizing: border-box;
    background-color: gray;
    color: white;
}
input[type=number]{
    width: 80%;l
    padding: 15px 22px;
    box-sizing: border-box;
    background-color: gray;
    color:white;
}
textarea{
    width: 50%;
    height:100px;
    padding: 15px 22px;
    box-sizing:border-box;
    border: 1px solid black;
    border-radius: 5px;
    background-color:gray;
    resize: none;
    color:white;
}

